.App {
  padding: 2px;
  text-align: center;
  height: 100vh;
  max-width: 100vw;
}

.header {
  margin-top: 10px;
}

.gameBox {
  position: relative;
  margin: 10px auto;
  width: 600px;
  height: 600px;
  border: 2px solid transparent;
  background: linear-gradient(45deg, #CE5937 0%, #1C6EA4 26%, #C59237 100%);
}

.btnsBox {
  margin-top: 5vh
}

.snakeDot {
  position: absolute;
  width: 2%;
  height: 2%;
  background-color: black;
  border: 1px solid white;
  z-index: 2;
}

.snakeFood {
  position: absolute;
  width: 2%;
  height: 2%;
  background: red;
  border: 1px solid black;
  z-index: 1;
}
